
.featured-projects {

  .background {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 128px;
    color: #452773;
    position: relative;
    z-index: 1;
    margin-bottom: 0.5em;

    //line behind featured
    &::before {
      border-top: 5px solid #eee;
      content: "";
      margin: 0 auto; /* this centers the line to the full width specified */
      position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
      top: 25%;
      left: 0;
      right: 60%;
      bottom: 0;
      width: 300px;
      z-index: -1;
      transform: rotate(17deg);
      transform-origin: 20% 40%;
    }
  }

  .projects-wrapper {

  }
}
