#footer {
  display: flex;
  background: #F5F5F5;
  width: 100% !important;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    padding: 25px 7%;

    .info {
      display: flex;
      flex-direction: column;
      height: inherit;
    }

    .address {
      margin-bottom: 1.5em;
    }

    .copyright {
      margin-top: 2em;
      font-size: 0.8em;
    }

    .logo {
      align-self: flex-start;

      img {
        max-width: $logo-width;
        position: absolute;
        right: 7%;
      }
    }
  }
}
