#footer {
  display: flex;
  background: #eee;
  width: 100% !important;
  margin-top: 50px;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    padding: 25px 50px;

    .info {
      display: flex;
      flex-direction: column;
      height: inherit;
    }

    .address {
      margin-bottom: 1.5em;
    }

    .copyright {
      margin-top: 2em;
      font-size: 0.8em;
    }

    .logo {
      align-self: flex-start;
      font-size: 2em;
      text-transform: uppercase;
    }
  }
}
