#footer {
  height: 150px;
  background: #eee;
  position: absolute;
  bottom: 0;
  width: 100%;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2em 50px;

    p {
      margin-bottom: 10px;
    }

    .logo {
      align-self: flex-start;
      font-size: 2em;
      text-transform: uppercase;
    }
  }
}
