.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 50px;
  padding-top: 1.5em;

  .menu {
    margin-top: 6.5px;

    a {
      text-decoration: none;
      color: #000;
      font-weight: 600;
      border-top: solid 1px #000;
      border-bottom: solid 1px #000;
      padding: 2px 0;
    }
  }

  .logo-right {

    img {
      max-width: $logo-width;
      max-height: $logo-height;
    }
  }
}
