.side-nav {
  width: 7%;
  position: fixed;
  top: 0;
  bottom: 0;
  // pointer-events: none;
  // visibility: hidden;
  opacity: 1;

  nav {
    -webkit-transform: rotate(-90deg) translateZ(0);
    transform: rotate(-90deg) translateZ(0);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    width: 410px;
    left: 50%;
    position: absolute;
    top: 75%;

    .row {
      margin-left: 0;
      margin-right: 0;

      li {
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
        opacity: 1;
        -webkit-transition: opacity .4s ease;
        transition: opacity .4s ease;

        a {
          font-family: "Crimson Text",Georgia,Serif;
          letter-spacing: 0;
          font-size: 1.3rem;
          opacity: 1;
          -webkit-transform: translate3d(25px,0,0);
          transform: translate3d(25px,0,0);
          -webkit-transition: opacity 0s linear,-webkit-transform 0s linear;
          transition: opacity 0s linear,-webkit-transform 0s linear;
          transition: transform 0s linear,opacity 0s linear;
          transition: transform 0s linear,opacity 0s linear,-webkit-transform 0s linear;
          -webkit-transition-delay: .4s;
          transition-delay: .4s;
          color: #767575;
          position: relative;
          text-decoration: none;
          display: block;
        }
      }
    }
  }
}
