#contact-form {
  margin: 0 auto;
  width: 40%;
  margin-top: 3em;
  margin-bottom: 2em;

  .row {

    label {
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: 500;
    }

    input {
      width: 100%;
      height: 25px;
      border: solid 1px #000;
      background: #ECECEC;
      margin-bottom: 1em;
      margin-top: 5px;
      padding: 3px;
      padding-left: 5px;
      outline: none;
      border-radius: 2px;
    }

    textarea {
      width: 100%;
      background: #eee;
      margin-top: 5px;
      outline: none;
      border-radius: 2px;
      padding: 3px;
      padding-left: 5px;
    }
  }
}
