
.content-box {
  width: 100%;
  margin: 0 auto;
  background-image: url('/images/header-box.jpg');
  height: 500px;
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  h1 {
    font-weight: 600;
    font-size: 128px;
    padding: 10px 0;
    color: #561d9c;
  }
}

.home-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  height: inherit;
  margin-bottom: 3em;
  position: relative;

  .block-one {
    position: relative;
    left: 0;
    top: 0;
    width: 30%;
    height: inherit;
    background: #F5F5F5;
    margin-bottom: 1em;
    padding: 3%;
    box-shadow: 0 5px 6px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.24);

    p {
      text-align: left;
      line-height: 130%;
      font-family: 'Noto Sans', sans-serif;
      font-size: 40px;
      color: #504f4f;
    }

    .bar-1 {
      position: absolute;
      right: 0;
      bottom: 75%;
      height: 100%;
      width: 2%;
      background: grey;
    }
  }

  .block-two {
    position: relative;
    left: 60%;
    bottom: 0;
    width: inherit;
    height: inherit;
    background: #F5F5F5;
    padding: 3%;
    box-shadow: 0 5px 6px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.24);

    p {
      text-align: left;
      line-height: 130%;
      font-family: 'Noto Sans', sans-serif;
      font-size: 40px;
      color: #504f4f;
    }

    .bar-2 {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 2%;
      background: grey;
    }
  }
}
