
.content-box {
  width: 100%;
  margin: 0 auto;
  background: #F5F5F5;
  height: 350px;
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  h1 {
    font-size: 90px;
    font-weight: 900;
    padding: 10px 0;
  }
}

.home-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  height: inherit;
  margin-bottom: 3em;
  position: relative;

  .block-one {
    position: relative;
    left: 0;
    top: 0;
    width: 350px;
    height: inherit;
    background: #F5F5F5;
    margin-bottom: 1em;
    padding: 3%;
    box-shadow: 0 5px 6px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.24);

    &::before {
      border-top: 10px solid #eee;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 240%;
      left: -88%;
      bottom: 0;
      width: 1200px;
      height: 2px;
      z-index: -2;
      -webkit-transform: rotate(-43deg);
      transform: rotate(-43deg);
      -webkit-transform-origin: left;
      transform-origin: left;
    }

    p {
      text-align: left;
      font-size: 24px;
      line-height: 130%;
    }

    .bar-1 {
      position: absolute;
      right: 0;
      bottom: 75%;
      height: 100%;
      width: 2%;
      background: #000;
    }
  }

  .block-two {
    position: relative;
    left: 60%;
    bottom: 0;
    width: 320px;
    height: inherit;
    background: #F5F5F5;
    padding: 3%;
    box-shadow: 0 5px 6px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.24);

    &::before {
      border-top: 10px solid #eee;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 75%;
      left: 50%;
      bottom: 0;
      width: 900px;
      height: 2px;
      z-index: -2;
      -webkit-transform: rotate(-43deg);
      transform: rotate(-43deg);
      -webkit-transform-origin: left;
      transform-origin: left;
    }

    p {
      text-align: left;
      font-size: 24px;
      line-height: 130%;
    }

    .bar-2 {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 2%;
      background: #000;
    }
  }
}
