.project-page {

  .project-container {

    .project-info {
      position: absolute;
      width: 400px;
      max-height: 300px !important;
      bottom: -1.5em !important;
      right: -6em !important;
    }

    &:nth-child(even) {
      .project-info {
        position: absolute;
        width: 400px;
        max-height: 300px !important;
        bottom: -6em !important;
        right: -2em !important;
      }
    }
  }
}
