.full-header {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.project-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2em 0;

  .title {
    font-family: 'Open Sans', sans-serif;
    font-size: 43px;
    font-weight: 500;
    color: #2b2b2b;
    margin-bottom: 0.2em;
    position: relative;

    &::before {
      border-top: 15px solid #dbdbdb !important;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 28%;
      left: 5px;
      width: 120px;
      z-index: -2;
      -webkit-transform: rotate(10deg);
      transform: rotate(-18deg);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-box-shadow: -5px 5px 0px #eaeaea;
      box-shadow: -4px 4px 1px #eaeaea;
    }
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;

    span {
      width: 40%;

      p {
        line-height: 2em;
        margin-bottom: 1em;
        font-size: 18px;
        color: #2b2b2b;
      }
    }

    .line {
      width: 5px;
      background: #eee;
      margin: 0 auto !important;
    }

    .services {
      width: 40%;

      h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 600 !important;
        color: #2b2b2b;
        margin-bottom: 0.5em;
        text-transform: uppercase;
      }

      ul {
        list-style: none;
        margin-left: 0;
        padding-left: 1em;
        margin-bottom: 2em;

        li:before {
          display: inline-block;
          content: "-";
          width: 1em;
          margin-left: -1em;
          font-size: 18px;
          color: #2b2b2b;
        }

        li {
          padding: 8px;
        }
      }

      span {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #2b2b2b;

        .link {
          text-decoration: none;
          color: #000;
          font-weight: 300;
        }
      }
    }
  }
}

.full-img {
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-stats {
  display: flex;
  flex-direction: column;
  margin: 2em 0;

  h3 {
    margin-bottom: 1.5em;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #2b2b2b;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    h1 {
      font-size: 50px;
      margin-bottom: 0.5em;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 300;
    }

    p {
      line-height: 1.6em;
      text-align: center;
      font-family: 'Noto Sans', sans-serif;
    }
  }
}


.swiper-container {
  width: 100%;
  height: 500px;

  .swiper-button-prev {
    margin-left: 2em;
    background-image: url('/images/left-arrow.png') !important;
    background-size: 100% 75%;
    background-position: center;
    top: 95% !important;
    left: 85% !important;
  }

  .swiper-button-next {
    margin-right: 2em;
    background-image: url('/images/right-arrow.png') !important;
    background-size: 100% 75%;
    background-position: center;
    top: 95% !important;
  }

  .swiper-slide {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.project-video {
  position: relative;
  height: inherit;
  padding: 25% 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.last-img {
  width: 100%;
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
