.full-header {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.project-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2em 0;

  .title {
    font-size: 25px;
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;

    span {
      width: 40%;

      p {
        line-height: 2em;
        margin-bottom: 1em;
      }
    }

    .line {
      width: 5px;
      background: #eee;
    }

    .services {
      margin-right: 3em;

      h3 {
        margin-bottom: 0.5em;
      }

      ul {
        list-style: none;
        margin-left: 0;
        padding-left: 1em;

        li:before {
          display: inline-block;
          content: "-";
          width: 1em;
          margin-left: -1em;
        }

        li {
          padding: 8px;
        }
      }
    }
  }
}

.full-img {
  width: 100%;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.swiper-container {
  width: 100%;
  height: 100vh;

  .swiper-button-prev {
    margin-left: 2em;
  }

  .swiper-button-next {
    margin-right: 2em;
  }

  .swiper-slide {
    width: 100%;

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
}
